<div class="container-fluid footer bg-light border-top">
  <center>
    <footer class="pt-3">
      <div class="row footer-padding">
        <div class="col-sm-12 col-md-6 col-lg-6" style="text-align:left">
          <p class="h5 text-muted footer-center">MORE INFORMATION</p>
          <ul class="nav flex-column footer-center">
            <li class="nav-item p-0"><a href="home" class="nav-link p-0  fw-light">Home</a></li>
            <li class="nav-item  p-0"><a href="accomodation" class="nav-link p-0  fw-light">Accomodation</a></li>
            <li class="nav-item p-0"><a href="dine" class="nav-link p-0 fw-light">Dining</a></li>
            <li class="nav-item  p-0"><a href="contact" class="nav-link p-0  fw-light">Gallery</a></li>

          </ul>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6" style="text-align:left">
          <p class="h5 text-muted fs-5 footer-center">RESORT DETAILS</p>
          <ul class="nav flex-column footer-center">
            <li class=" nav-item mb-2 p-0 text-muted fw-light">
              <strong>Resort Address:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia
            </li>
            <li class="nav-item mb-2 p-0 text-muted fw-light"> T: 123-456-789-000</li>

          </ul>
        </div>
        <div class="d-flex justify-content-center border-top">
          <p class="pt-3 pb-0 text-muted fw-light" style="font-size:12px; letter-spacing: 1px;">© 2021 Cambridge Resort, Inc. All rights reserved.</p>
        </div>
      </div>
    </footer>
  </center>

</div>
</body>

</html>
