<%- include("partials/header") -%>

<div class="container-fluid">
  <img src="/images/luxuxy-dining/dining.jpg" class="w-100" style="height: 400px;" />
</div>

<section id="dine">
  <div class="container div-dine my-2">
    <div class="border-bottom">
      <h3 class="desc-title">Dine</h3>
      <p class="contents">
        Amorita Resort’s 4 in-house restaurants are destinations on their own. Carefully crafted by our experienced chefs, the food that each of the restaurants offer cater to each and different types of palate that visit the resort.
      </p>
    </div>
  </div>

  <!-- Start first two dine -->
  <div class="container div-dine my-2">
    <div class="row">
      <!-- Start Saffron Restaurant -->
      <div class="col-sm-12 col-md-6 my-2">
        <!-- Start Carousel of images for Saffron -->
        <div id="carouselSaffron" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/saffron/1.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item">
              <img src="/images/saffron/2.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item">
              <img src="/images/saffron/3.jpg" class="d-block w-100">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselSaffron" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselSaffron" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <!-- End Carousel of images for Saffron -->
        <h3 class="desc-title my-2">Saffron Restaurant</h3>
        <p class="contents">
          There are a lot of ways to experience a new place. Saffron lets you experience Amorita in a single bite: a reinterpretation of classic Filipino cuisine and international favourites highlighting the best of both cultures. Match your
          experience with our wide selection of wines and signature cocktails.
        </p>
          <a href="contact" class="link">Inquire Now</a>
      </div>
      <!-- End Saffron Restaurant -->

      <!-- Turchino Restaurant -->
      <div class="col-sm-12 col-md-6 my-2">
        <!-- Start Carousel of images for Turchino -->
        <div id="carouselTurchino" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/turchino/1.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item">
              <img src="/images/turchino/2.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item">
              <img src="/images/turchino/3.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item">
              <img src="/images/turchino/4.jpg" class="d-block w-100">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselTurchino" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselTurchino" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <!-- End Carousel of images for Turchino -->
        <h3 class="desc-title my-2">Turchino</h3>
        <p class="contents">
          Turchino is a modern Italian restaurant that prides itself into using the freshest ingredients and creating all of its dishes from scratch in-house. Featuring a unique reinterpretation of Italian classics, Turchino features modern interiors
          with the deep blue-hued Bohol Sea setting a sophisticated and relaxing mood to every diner.
        </p>
        <a href="contact" class="link">Inquire Now</a>
      </div>
    </div>
  </div>
  <!-- End first two dine -->

  <!-- Start Following two dines -->
  <div class="container div-dine my-2 border-bottom">
    <div class="row">
      <!-- Start Tomar Tapas x Bar -->
      <div class="col-sm-12 col-md-6 my-2">
        <!-- Start Carousel of images for Tomar -->
        <div id="carouselTomar" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/tomar/1.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item">
              <img src="/images/tomar/2.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item">
              <img src="/images/tomar/3.jpg" class="d-block w-100">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselTomar" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselTomar" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <!-- End Carousel of images for Tomar -->
        <h3 class="desc-title my-2">Tomar Tapas x Bar</h3>
        <p class="contents">
          Neo-Cultural experience takes center stage at Tomar Tapas x Bar. Paying homage to European Classics such as paellas, tapas, and pintxos, Tomar lets you experience with a touch of modern and local flair. Tomar also houses carefully curated wine and whiskey selections from around the globe.
        </p>
        <a href="contact" class="link">Inquire Now</a>
      </div>
      <!-- End Saffron Restaurant -->

      <!-- Azotea Restaurant -->
      <div class="col-sm-12 col-md-6 my-2">
        <!-- Start Carousel of images for Azotea -->
        <div id="carouselAzotea" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/azotea/1.jpg" class="d-block w-100">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselAzotea" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselAzotea" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <!-- End Carousel of images for Azotea -->
        <h3 class="desc-title my-2">Azotea</h3>
        <p class="contents">
          Azotea puts the comfort in comfort food. Enjoy a wide selection of sumptuous meals while you take comfort at the sight of the scenic infinity pool. At the end of the day, marvel in a breathtaking Alona Beach sunset while you sip your favorite Amorita signature cocktail in hand.
        </p>
        <a href="contact" class="link">Inquire Now</a>
      </div>
    </div>
  </div>
  <!-- End Following two dines -->
</section>
<%- include("partials/footer") -%>
