<%- include("partials/header") -%>

  <!-- Carousel for Home -->
  <section class="home-section" id="home-carousel-main">
    <div id="home-carousel" class="carousel slide bg-light" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="container_img" src="images/slider/carribean-edited.jpg" alt="carribean-edited">
        </div>
        <div class="carousel-item">
          <img class="container_img" src="images/slider/slider-2.jpg" alt="slider-2">
        </div>
        <div class="carousel-item">
          <img class="container_img" src="images/slider/slider-3.jpg" alt="slider-3">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#home-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#home-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
  </section>

  <!-- Description -->
    <div class="container-fluid description border-top">
      <h1 class="title-text">CAMBRIDGE RESORT</h1>
      <!-- <div class="space">
      </div> -->

      <p class="contents">
        With its first-rate amenities and low rates, Cambridge Resort is considered one of the best resorts in Cavite, Philippines. We offer guests with endless opportunities to relax, unwind, and have fun. No matter your age, we guarantee that you
        will make the most out of your stay in our hotel and resort. You will most likely remember the days you’ve spent here for the rest of your life.</p>
      <p class="contents">
        Conveniently located in Rosario, Cavite, we are just an hour away from the city. Our clean, spacious, and lovely resort is equipped with beautifully furnished amenities, including our grand hotel and swimming pools. We have prepared various
        leisure activities for everyone, from the most laid-back individuals to tourists who seek for a different kind of thrill and businessmen looking for inspiration for new work ideas. Drive your way to our resort in the South and experience the
        splendid wonders that await you!
      </p>
      <h5 class="desc-title">AMUSING</h5>
      <p class="contents">
        Treat yourself and your family to a day full of fun and adventure. Just an hour away from Manila, Cambridge Resort is the place to be if you want to experience a one-of-a-kind vacation getaway.
      </p>
      <h5 class="desc-title">FUN</h5>
      <p class="contents">
        Give your employees a well-deserved break from work. We boast of having well-maintained amenities and various activity areas perfect for team buildings and recreational events you’ll surely enjoy.
      </p>
      <h5 class="desc-title">LUXURIOUS</h5>
      <p class="contents">
        Try our delectable meals, succulent chef specials, and refreshing drinks. Because we value your total satisfaction, we commit ourselves to providing you with delicious food choices for breakfast, lunch, merienda, and dinner.
      </p>
      <h5 class="desc-title">AFFORDABLE</h5>
      <p class="contents">
        Choose from exciting deals and special promos that are tailored according to the occasion. We have a wide range of budget-friendly party packages customized to your needs. Spend your special event in our green and lush resort for memories
        you’ll forever cherish!
      </p>
    </div>

  <!-- Tranquil Spaces -->
  <div class="bg-light">
    <div class="container-fluid tranquil-spaces border-top pb-2">
      <h1 class="title-text my-2" style="text-transform: uppercase;">Tranquil Spaces</h1>
      <div class="row">
        <!-- Suite -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
          <center>
            <img src="images/tranquil-spaces/suite.jpg" width="100%" class="shadow rounded"/>
            <h3 class="desc-title my-2">SUITE</h3>
            <p class="contents">
              Soak up the luxurious privacy of the suite, which features an elegant living room, your own designer bathtub, and a private balcony overlooking the immaculate Bohol Sea or Amorita’s lush tropical landscape.
            </p>
          </center>
          <!-- Add Discover More, go to Rooms -->
          <a href="accomodation" class="link">Discover More</a>
        </div>
        <!-- Villa -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
          <center>
            <img src="images/tranquil-spaces/villa.jpg" width="100%" class="shadow rounded"/>
            <h3 class="desc-title my-2">VILLA</h3>
            <p class="contents">
              Spacious and naturally secluded with ocean or garden views that will take your breath away, the villa at Amorita offers the ultimate in seaside serenity, complete with your own private plunge pool and patio.
            </p>
          </center>
          <!-- Add Discover More, go to Rooms -->
          <a href="accomodation" class="link">Discover More</a>
        </div>
      </div>
    </div>
  </div>


  <!-- Luxury Dining -->
  <div class="container-fluid luxury-dining border-top pt-2 pb-0">
    <h1 class="title-text" style="text-transform: uppercase;">Luxury Dining</h1>
      <!-- Turchino -->
    <div class="row my-2">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 pad-non-mb pad-non-tb">
        <img src="images/luxuxy-dining/turchino.jpg" width="100%" class="shadow rounded"/>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">

        <div style="text-align:right">
          <h3 class="desc-title safron-desc">Turchino</h3>
          <p class="contents safron-desc">Turchino is a modern Italian restaurant that prides itself into using the freshest ingredients and creating all of its dishes from scratch in-house. Featuring a unique reinterpretation of Italian classics, Turchino
            features modern
            interiors with the deep blue-hued Bohol Sea setting a sophisticated and relaxing mood to every diner.</p>
        </div>
        <a href="dine" class="link" style="text-align:right">Discover More</a>
      </div>
    </div>

    <!-- Saffron Restaurant -->
    <div class="row row-test my-3">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 ">
        <div style="text-align:left">
          <h3  class="desc-title safron-desc">Saffron Restaurant</h3>
          <p class="contents safron-desc">There are a lot of ways to experience a new place. Saffron lets you experience Amorita in a single bite: a reinterpretation of classic Filipino cuisine and international favourites highlighting
            the best of both cultures. Match your experience with our wide selection of wines and signature cocktails.</p>
        </div>
          <a href="dine" class="link" style="text-align:left">Discover More</a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
        <img class="shadow rounded" src="images/luxuxy-dining/saffron.jpg" width="100%" />
      </div>
    </div>
  </div>

  <!-- One of a kind experience -->
  <section class="bg-light">
    <div class="container-fluid ooake border-top py-2">
      <h1 class="title-text" style="text-transform: uppercase;">One of a kind experience</h1>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <!-- Brighter days -->
        <div class="col-sm-12 col-md-12 col-lg-4">
          <div class="card h-100 shadow">
            <img src="images/ooake/brighter-days.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="desc-title">BRIGHTER DAYS</h3>
              <p class="contents" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
              <div class="d-grid gap-2">
                <button class="btn btn-light book-now" type="button">BOOK NOW</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Hello Sunshine -->
        <div class="col-sm-12 col-md-12 col-lg-4">
          <div class="card h-100 shadow ">
            <img src="images/ooake/hello-sunshine.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="desc-title" >HELLO, SUNSHINE!</h3>
              <p class="contents" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
              <div class="d-grid gap-2">
                <button class="btn btn-light book-now" type="button">BOOK NOW</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Private Dinner -->
        <div class="col-sm-12 col-md-12 col-lg-4">
          <div class="card h-100 shadow">
            <img src="images/ooake/private-dinner.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="desc-title" >Private Dinner</h3>
              <p class="contents" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
              <div class="d-grid gap-2">
                <button class="btn btn-light book-now" type="button">BOOK NOW</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="text-truncate" style="max-width: 1000px;">

      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      </div> -->
  </section>

  <!-- Footer -->
  <%- include("partials/footer") -%>
